<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mariana e Simão - Fotos Casamento</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fotos de Casamento da Mariana e do Simão">
    <meta name="author" content="Simão Belchior">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">Acerca</h4>
              <p class="text-muted">Fotografias de casamento da Mariana e do Simão.</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Opções</h4>
              <ul class="list-unstyled">
                <li>
                  <%= link_to "Gerir fotografias", pictures_path %>
                </li>
                <li>
                  <%= link_to "Adicionar fotografias", new_picture_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand">Álbum</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
    <%= yield %>
    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>
          New to Bootstrap? <a href="../../">Visit the homepage</a> or read our
          <a href="../../getting-started/">getting started guide</a>.
        </p>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
